<div class="center jumbotron">
  <h1>ShadowKeeper</h1>
  <p class="lead">
    This is the homepage for ShadowKeeper
    the highly usefull Game Master tool for Shadowrun GMs.
  </p>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
