<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-inner">
      <%= link_to "ShadowKeeper", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sign In", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
